@import "../../global";
$btn: #{$pre}btn;
button,
input {
    &.#{$btn} {
        width: 100%;
        border-width: 0;
        outline: 0;
        -webkit-appearance: none;
        &:focus {
            outline: 0;
        }
        .#{$btn}_inline{
            width: auto;
        }
    }
}