@import "../../global";


.#{$btn} {
    width: 100%;
    border-width: 0;
    outline: 0;
    -webkit-appearance: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2em;
    @include hover-color();
    cursor: pointer;
    
    &:focus {
        outline: 0;
    }
    .#{$btn}_inline {
        width: auto;
    }
}

.#{$btn}_area_inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    .#{$btn} {
        margin-right: $btnDefaultGap;
        width: 100%;
        flex: 1;
        &:last-child {
            margin-right: 0;
        }
    }
}


