@mixin badge($bg: $oc-gray-2, $padding-y: 5px, $padding-x:8px) {
    padding: $padding-y $padding-x;
    @include border-radius($padding-y);
    @include hover-color($bg);
    &:empty {
        display: none;
    }
    cursor: pointer;
}
