@mixin link($link-color) {
    color: $link-color;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;
    &:hover {
        color: lighten($link-color, 20%);
    }
    &:active {
        color: darken($link-color, 5%);
    }
    &:active,
    &:hover {
        outline: 0;
        text-decoration: none;
    }
    &[disabled] {
        color: #ccc;
        cursor: not-allowed;
        pointer-events: none;
    }
}