@import "global";
@import "normalize";
@import "common";
@import "colors";
@import "./components/index";
body,
html {
    background: $oc-gray-1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

a {
    @include link($oc-gray-7);
}

.#{$pre}container {
    color: $oc-gray-7;
    width: 80%;
    .#{$pre}container_title {
        font-size: 2em;
    }
    p {
        text-align: right;
    }
}