@import "../global";
.badge {
    @include badge();
    @include border-radius();
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}